<%- include('../partials/header') %>
<div class="profileheader">
  <span class="profile-title">
    <% if(user.avatar) { %>
      <img class="profile-img" src="<%= user.avatar %>">
      <% } else { %>
        <i class="small material-icons">perm_identity</i>
      <% } %>
    <span class="profile"><%= user.name %></span>
</div>
<div class="entryCard">
  <% if (user) { %>
  <% entries.forEach(function(e) { %>
  <div class="card col-md-5">
    <tr>
      <h4 class="today"><%= e.createdAt.toLocaleDateString() %></h4>
      <h5>Today I felt:</h5>
      <td>
      <% e.moods.forEach(function(m) { %>
      <%= m.mood %>
      <% }) %>
      <% e.customMoods.forEach(function(m) { %>
      <%= m.mood %>
      <% }) %>
      </td>
    </tr>
    <tr>
      <h5>How I slept:</h5>
      <p><%= e.sleep %> out of 10</p>
      <h5>A few of my thoughts:</h5>
      <td><%= e.note %></td>
    </tr>
    <div class="entryBtns">
      <button type="button" class="modal-btn" data-toggle="modal" data-target="#exampleModal">Update Journal</button>
      <form action="/entries/<%= e._id %>?_method=DELETE" method="POST">
        <input id="deleteBtn" type="submit" value="DELETE">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Journal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/entries/<%= e._id %>?_method=PUT" method="POST">
                  <input type="field" name="note" placeholder="<%= e.note %>" value="<%= e.note %>"><br>
              </div>
            <div class="modal-footer">
          <input type="submit" value="Update Entry">
      </form>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</div>
<% })}; %>

<%- include('../partials/footer') %>