<%- include('../partials/header') %>
<h1 class="entryTitle">New Entry</h1>
<h2>How are you feeling today <%= user.name %>?</h2>

<form id="new-entry" action="/entries/index " method="POST">
  <div class="checkboxes container">
    <div class="checkbox col-md-3 col-sm-6">
      <label class="checkbox-label">
        <input type="checkbox" id="emotion1" name="moods" value="Happy">
        <span class="checkbox-custom rectangular"></span>
      </label>
      <div class="input-title">HAPPY</div>
    </div>
    <div class="checkbox col-md-3 col-sm-6">
      <label class="checkbox-label">
        <input type="checkbox" id="emotion1" name="moods" value="Anxious">
        <span class="checkbox-custom rectangular"></span>
      </label>
      <div class="input-title">ANXIOUS</div>
    </div>
    <div class="checkbox col-md-3 col-sm-6">
      <label class="checkbox-label">
        <input type="checkbox" id="emotion1" name="moods" value="Motivated">
        <span class="checkbox-custom rectangular"></span>
      </label>
      <div class="input-title">MOTIVATED</div>
    </div>
    <div class="checkbox col-md-3 col-sm-6">
      <label class="checkbox-label">
        <input type="checkbox" id="emotion1" name="moods" value="Stressed">
        <span class="checkbox-custom rectangular"></span>
      </label>
      <div class="input-title">STRESSED</div>
    </div>
    <div class="checkbox col-md-3 col-sm-6">
      <label class="checkbox-label">
        <input type="checkbox" id="emotion1" name="moods" value="Overwhelmed">
        <span class="checkbox-custom rectangular"></span>
      </label>
      <div class="input-title">OVERWHELMED</div>
    </div>
    <div class="checkbox col-md-3 col-sm-6">
      <label class="checkbox-label">
        <input type="checkbox" id="emotion1" name="moods" value="Sad">
        <span class="checkbox-custom rectangular"></span>
      </label>
      <div class="input-title">SAD</div>
    </div>
    <%if (customMoods.length) { %>
    <% customMoods.forEach(function(m) { %>
      <div class="checkbox col-md-3 col-sm-6">
        <label class="checkbox-label">
        <input type="checkbox" id="emotion1" name="customMoods" value="<%= m._id %>">
        <span class="checkbox-custom rectangular"></span>
      </label>
      <div class="input-title"><%= m.mood %></div>
    </div>
    <% }); %>
    <% } %>
  </div>
  <button type="button" class="modal-btn" data-toggle="modal" data-target="#exampleModal">Add Mood</button>
  <h3>How did you sleep last night?</h3>
  <div class="sleep">
    <p>Poor</p>
    <p>Good</p>
  </div>
  <div class="slidecontainer">
    <input type="range" min="1" max="10" value="5" class="slider" id="myRange" name="sleep">
  </div>
  <h3>Journal about your day</h3>
  <div class="journal-form">
    <div class>
      <input class="journal" type="text" name="note">
    </div>
    <div>
      <input class="form-btn" type="submit" value="Sumbit Entry">
    </div>
  </div>
</form>
<!-- <a href="../moods/new">Add Another Emotion</a> -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Mood</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/moods" method="POST">
          <div class="form-group">
            <label for="message-text" class="col-form-label"></label>
            <input class="form-control" id="message-text" name="mood">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add">
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>